.about1 {
  display: flex;
  align-items: center;
  padding: 70px 120px;
  gap: 80px;
  background: rgba(128, 128, 128, 0.068);
}
.about1__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.years {
  display: flex;
  gap: 20px;
  font-size: 30px;
  align-items: center;
  width: 100%;
  max-width: 500px;
}
.year h1 {
  font-size: 12rem;
  font-family: "Poppins", sans-serif;
}
.par-year{
  margin-top: -40px;
  text-align: center;
  letter-spacing: 15px;
}
.years p{
    line-height: 50px;
    font-size: 30px;
}
.about-remain{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}
.about-remain p{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about-remain li{
    list-style-type: circle;
    color: gray;
}
.about-remain button{
    width: 150px;
    padding: 18px 25px;
    outline: 0;
    border: 0;
    border-radius: 30px;
    background: linear-gradient(130deg, blueviolet, orange);
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.about-remain button:hover{
    background: orange;
}
.about1_container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.for-img{
    display: flex;
    gap: 30px;
}
.for-img img{
    border-radius: 10px;
}
.remain-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.remain-text h1 span{
    color: blueviolet;
}
.remain-text p{
    color: gray;
    font-size: 18px;
}
@media (max-width: 768px) {
    .about1 {
        padding: 50px 30px;
        flex-direction: column;
        align-items: center;
    }
    .years {
        flex-direction: row;
        justify-content: center;
        align-items: center;    
    }
    .year h1 {
        font-size: 4rem;
    }
    .years p {
        font-size: 22px;
        line-height: 30px;
    }
    .about-remain {
        font-size: 16px;
    }
    .par-year {
        margin-top: -10px;
        letter-spacing: 7px;
    }
    .about-remain p {
        font-size: 16px;
    }
    .about-remain li {
        font-size: 16px;
        margin-left: 20px;
    }
    .about-remain button {
        width: 100%;
        max-width: 150px;
        padding: 10px 13px;
        font-size: 16px;
        border-radius: 20px;
    }
    .for-img {
        flex-direction: column;
        align-items: center;
    }
   .about1_container2{
        gap: 20px;
    }
    .for-img img {
        width: 100%;
        max-width: 350px;
    }
    .remain-text h1 {
        font-size: 24px;
    }
    .remain-text p {
        font-size: 16px;
    }


}