.project{
    align-items: center;
    text-align: center;
    padding: 20px 100px;
}
.headerText{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    margin-bottom: -50px;
}
.project-list{
    display: flex;
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.452);
    margin: 50px 0 auto;
    border-radius: 20px;
    gap: 30px;
}
.project-list img{
    border-radius: 15px;
    height: 300px;
    cursor: pointer;
}
.info-project{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.info-project h2{
    font-size: 33px;
    margin-top: 40px;
}
.info-project p{
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: gray;
}
.info-project a{
    font-size: 18px;
    text-decoration: none;
    color: white;
}
.info-project a span{
    background: linear-gradient(170deg, orange, blueviolet);
    padding: 10px 15px;
    border-radius: 20px;
    outline: 0;
    border: 0;
    
}
.info-project a:hover{
    transition: 0.3s;
    transform: scale(1.09);
}
.info-project a span:hover{
    background: linear-gradient(170deg, blueviolet, orange);
}
@media (max-width: 768px) {
    .project{
        padding: 30px;
        /* display: flex; */
    }
    .headerText{
        font-size: 25px;
    }
    .project h1{
        font-size: 18px;
    }
    .project-list{
        flex-direction: column;
        align-items: center;
        margin-bottom: -60px;
        /* gap: 20px; */
    }
    .project-list img{
        width: 100%;
        height: auto;
    }
    .info-project{
        text-align: center;
    }
    .info-project h2{
        font-size: 19px;
    }
    .info-project p{
        font-size: 15px;
        line-height: 24px;
    }
    .info-project a{
        font-size: 16px;
    }
    .info-project a span{
        padding: 8px 12px;
    }
    .project-list{
        gap: 10px;
    }
}
