.service {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 80px 120px;
  text-align: center;
  background: rgba(128, 128, 128, 0.068);
}
.service-top {
  display: flex;
  justify-content: space-between;
}
.service-top h1 {
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.service-top button{
    width: 200px;
    outline: 0;
    border: 0;
    background: linear-gradient(60deg, blueviolet, orange);
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    animation: hireMe alternate-reverse 1000ms infinite;
}
.service-bot{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 30px;
    padding: 30px;
}
.creative-design{
    background: rgba(128, 128, 128, 0.089);
    /* padding: 10px; */
    border: 1px solid rgba(128, 128, 128, 0.384);
    border-radius: 20px;
    padding: 10px;
}
.for-img-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: rgba(128, 128, 128, 0.11);
}
.for-img-icon img{
   border-radius: 100px;
}
.for-header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 7px;
  padding-top: 15px;
}
.creative-design h2{
    font-size: 25px;
    font-weight: 700;
    color: #000;
    margin-top: 20px;
}
.creative-design p{
    font-size: 17px;
    color: gray;
    font-weight: 500;
    margin-top: 10px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes hireMe {
    from {
        background: linear-gradient(60deg, blueviolet, orange);
    }
    to {
        background: linear-gradient(60deg, orange, blueviolet);
    }
     from {
        transform: translateY(0);
     }
    to {
        transform: translateY(-10px);
    }
}
@media (max-width: 768px) {
  .service {
    padding: 40px 30px;
  }
  .service-top h1 {
    font-size: 22px;
  }
  .service-top button {
    width: 80px;
    font-size: 14px;
  }
  .creative-design {
    padding: 20px;
  }
  .for-img-icon {
    width: 40px;
    height: 40px;
  }
  .creative-design h2 {
    font-size: 17px;
  }
  .creative-design p {
    font-size: 15px;
    line-height: 23px;
  }
  .service-bot {
    grid-template-columns: 1fr;
  }
  .creative-design {
    padding: 30px;
  }
  .service-bot{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    padding: 5px;
}
}
