.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 100vh; */
    width: 100%;
    padding: 40px 120px;
    margin-bottom: 30px;
    position: relative;
}
.About-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 2px;
    margin-top: 150px;
}   
.About-left p{
    font-size: 30px;
    color: blueviolet;
    font-weight: 500;
}
.About-left h1{
    font-size: 70px;
    color: #000;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;    
}
.About-left span{
    font-size: 40px;
}
.about-call-to-action{
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.about-call-to-action1{
    display: flex;
    align-items: center;
    gap: 30px;
}
.about-call-to-action1 a{
    font-size: 20px;
    padding: 15px 30px;
    background: linear-gradient(90deg, #6a11cb 0%, orange 100%);
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    animation: actionsac 1000ms infinite alternate;
}
.about-call-to-action1 a:hover{
    background: linear-gradient(90deg, orange 0%, #6a11cb 100%);
}
.sociai-media{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}
.sociai-media svg{
    color: black;
    transition: all 0.3s ease-in-out;
    background: rgba(128, 128, 128, 0.11);
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
}
.sociai-media svg:hover{
    color: orange;
    transform: translateY(-10px);
}
.play-video-btn{
    display: flex;
    align-items: center;
    gap: 20px;
    background: rgba(128, 128, 128, 0.11);
    padding: 8px;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 20px;
}
.play-video-btn img{
    width: 40px;
    animation: myani 1000ms infinite alternate;
}
.play-video-btn span{
    font-size: 20px;
}
.about-right img{
    border-radius: 300px 300px 300px;
    margin-top: 100px;
    width: 400px;
}
@keyframes myani {
    from{
        transform: scale(0.6)
    }
    to{
        transform: scale(0.9)
    }
}
@keyframes actionsac {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(20px);
    }
}
@media (max-width: 768px) {
    .about{
        flex-direction: column;
        padding: 5px;
        margin-bottom: 40px;
    }
    .About-left{
        margin-top: 100px;
        padding: 0 20px;
    }
    .About-left h1{
        font-size: 45px;
    }
    .About-left p{
        font-size: 20px;
    }
    .About-left span{
        font-size: 25px;
    }
    .about-call-to-action1 a{
        font-size: 16px;
        padding: 12px;
    }
    .sociai-media {
        margin: 10px 50px 5px 50px;
        align-self: center;
    }
    .play-video-btn span{
        font-size: 16px;
    }
    .play-video-btn{
        padding: 8px 16px;
        gap: 10px;
    }
    .play-video-btn img{
        width: 30px;
    }
    .about-right{
        margin-top: 8px;
    }
    .about-right img{
        margin-top: 30px;
        width: 300px;
    }
    
}
/* for circle animation */
.for-animation{
    display: flex;
}
.cicrle{
    position: absolute;
    background: linear-gradient(224deg, white , rgba(255, 166, 0, 0.356));
    padding: 40px;
    border-radius: 90px;
}
.for-animation :nth-child(1) {
    left: 200px;
    top: 50px;
    width: 100px;
    height: 100px;
    animation: circleani 13s alternate-reverse infinite;
}
.for-animation :nth-child(2) {
    right: 800px;
    top: 280px;
    z-index: -1;
    width: 150px;
    height: 150px;
    animation: circle_2 17s alternate-reverse infinite;
}
.for-animation :nth-child(3) {
    right: 150px;
    bottom: 30px;
    animation: circleani 9s alternate-reverse infinite;
}
.for-animation :nth-child(4) {
    right: 300px;
    top: 50px;
    animation: circle_3 12s alternate-reverse infinite;
}
@keyframes circleani {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateX(20px);
    }
}
@keyframes circle_2 {
    0%{
        transform: translateX(20px);
    }
    50%{
        transform: translateX(80px);
    }
    100%{
        transform: translateY(40px);
    }
}
@keyframes circle_3 {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(20px);
    }
    100%{
        transform: translateY(40px);
    }
}

@media (max-width: 768px) {
    .for-animation :nth-child(1) {
        display: none;
    }
    .for-animation :nth-child(2) {
        display: none;
    }
    .for-animation :nth-child(3) {
        display: none;
    }
    .for-animation :nth-child(4) {
        display: none;
    }
    .About-left p{
        font-size: 17px;
    }
    .About-left h1{
        font-size: 33px;   
    }
    .About-left span{
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .about-call-to-action1 a{
        font-size: 14px;
        padding: 8px 9px;
    }
    .play-video-btn{
        gap: 10px;
        padding: 8px 10px;
    }
    .play-video-btn img{
        width: 20px;
        animation: myani 1000ms infinite alternate;
    }
    .play-video-btn span{
        font-size: 14px;
    }
    .about-right img{
        border-radius: 30;
        /* margin-top: 100px; */
        width: 300px;
    }
}

